selenium==4.21.0
pytest==8.2.2
pytest-html==4.1.1
pytest-xdist==3.5.0
webdriver-manager==4.0.1
python-dotenv==1.0.1
Faker==25.3.0
requests==2.32.3
allure-pytest==2.13.5
paramiko==3.4.0
flask>=3.0
apscheduler>=3.10
gunicorn>=21.2
